<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.TestDao">


    <select id="selectAllTest" resultType="com.example.entity.Test">
        select testID,testName,testDate,testContent from test;
    </select>


</mapper>